/* p {
  text-align-last: justify;
  text-transform: capitalize;
  letter-spacing: 5px;
  word-spacing: 10px;
  line-height: 3;
} */
P {
  white-space: normal;
}
h1 {
  text-decoration-line: overline underline;
  text-decoration-color: green;
  text-decoration-style: solid;
  text-decoration-thickness: 5px;
}
.defination {
  text-indent: 40px;
}
/* h4 {
  text-shadow: 5px 5px 2px green, -5px 2px 2px red, 0px -5px 2px blue;
} */
div {
  font-weight: bold;
  font-size: 25px;
  font-family: "Rowdies", cursive;
}
